# Entorno virtual
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno
.env
*.env

# Logs y temporales
*.log
*.tmp

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
# Ignorar todos los videos
backend_siv/videos/*

# Pero no ignorar .gitkeep
!backend_siv/videos/.gitkeep
# Node.js
node_modules/