# ==============================
# Backend Python / FastAPI / YOLO
# ==============================

# Entornos virtuales
.venv/
venv/
env/

# macOS
.DS_Store

# Python cache
__pycache__/
*.py[cod]

# Variables de entorno
.env
*.env

# Logs y temporales
*.log
*.tmp
logs/

# Base de datos
*.sqlite3
*.db
*.dump

# Archivos generados / YOLO / videos
*.pt
*.mp4
backend_siv/videos/*
!backend_siv/videos/.gitkeep

# IDEs
.vscode/
.idea/
backend_siv/videos/*.avi


# Ignorar todos los videos AVI
backend_siv/grabaciones/*.avi

# O ignorar toda la carpeta de grabaciones
backend_siv/grabaciones/
