/* Contenedor principal */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    rgba(28, 100, 242, 1) 0%,
    rgba(30, 64, 175, 1) 50%,
    rgba(59, 130, 246, 1) 100%
  );
  background-attachment: fixed;
  color: #f9fafb;
  font-family: 'Poppins', sans-serif;
}
